<!-- base-template.html -->
<!-- This is the base template that all other templates should extend
	 It sets up the html, head, and leaves a block for the body
	 Blocks:
	 - title (head tag)
	 - content (body)
-->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Important meta tags (MUST COME FIRST) -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Site Information -->
	<meta name="description" content="Blog about Congolese Food and Recipes">
	<meta name="author" content="Aaron Mininger">
	<link rel="icon" href="{% static 'img/favicon.png' %}">

	<!-- Block: title -->
	<title>{% block 'title' %}{% endblock %}</title>
    
	<!-- CSS Imports -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
</head>

<body>
	<!-- Block: content -->
	{% block 'content' %}

	{% endblock %}

	<footer class="theme-dark">
		Site created by Dr. Aaron Mininger for use in Web Programming 2. 
	</footer>
</body>
</html>


